<style>
    footer {
        display: flex;
        border: 1px solid yellow;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-direction: column;

    }



    .nav a {
        padding: 20px;


    }
</style>


<footer>

    <div class="nav-container-footer ">

        <nav class="nav">
            <a href="/home">Home</a>
            <!-- <a href="#">Blog</a> -->
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Signup</a>

        </nav>
    </div>
    <p>&copy; 2024 Your Website Name</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module" src="/js/index.js"></script>
</body>

</html>