<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>


    <div class="registration-form" enctype="multipart/form-data">
        <h2>Register</h2>
        <form id="registerForm">
            <input type="file" name="userImage" id="userImage">
            <label for="username">Username:</label>
            <input type="text" class="inputBorder userNameInputBorder" id="userName" name="name">

            <label for="username">Email:</label>
            <input type="email" class="inputBorder userEmailInputBorder" id="userEmail" name="email">

            <label for="password">Password:</label>
            <input type="password" class="inputBorder userPassInputBorder" id="userPassword" name="password">

            <textarea class="abotInputBorder" id="aboutTheUser" name="aboutTheUser" required></textarea>

            <button id="registerBtn" type="submit">Register</button>
            <div class="message"></div>
        </form>


        <script src="/js/addupdatedUser.js"></script>
        <!-- <script src="/js/add.js"></script> -->
        <!-- <script src="/public/js/index.js"></script> -->

    </div>
    <%- include('./partials/footer'); %>